@font-face {
  font-family: "gilroy";
  font-weight: 300;
  font-style: normal;

  src: url("/fonts/gilroylight-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "gilroy";
  font-weight: 900;
  font-style: normal;

  src: url("/fonts/gilroyextrabold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "open_sans";
  font-weight: 300;
  font-style: normal;

  src: url("/fonts/opensans-light-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "open_sans";
  font-weight: 400;
  font-style: normal;

  src: url("/fonts/opensans-regular-webfont.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  color: #464646;
  background-color: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;

  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

placeholder {
  opacity: 30%;
  color: #000000;
}

placeholder:hover {
  opacity: 60%;
}


.main-header a {
  color: #000000;
}

.container a {
  color: #000000;
}

.main-footer {
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}



.main-navigation a {
  color: rgba(0,0,0,1);

  font-family: "gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}
.main-navigation a:hover,
.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation li:hover,
.main-navigation li:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation li:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a{
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}
.site-navigation li {
  list-style-type:none;
}

.site-navigation-list {
  color: #000000;

  line-height: 36px;
}

.site-navigation-list a {
  color: #000000;

  line-height: 36px;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo a{
  color:rgba(0,0,0,1);

  font-family: "gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}
.user-navigation a,
.goods-navigation a {
  color: rgba(0, 0, 0, 1);

  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.user-navigation li{
  list-style-type:none;
}

.user-navigation a:hover,
.user-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus,
.goods-navigation a:hover,
.goods-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active,
.user-navigation a:active,
.goods-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-navigation {
  color: #000000;
}
.popular-slides h3 {
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 900;
  line-height: 56px;
}

.upper-line td {
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}

.bottom-line td {
  color: #000000;

  font-family: "open_sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.popular-goods-list {
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}

.popular-goods-list img {}

.services-list {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}

.about-us-contacts h3 {
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 900;
  line-height: 48px;
}

.contacts-down h3 {
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 900;
  line-height: 48px;
}

.about-us-list li {
  list-style-type: none;

  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 40px;

}

.footer-navigation-list {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}

.footer-navigation-list a {
  color: rgba(255, 255, 255, 1);
}

.footer-navigation-list a:hover, .footer-navigation-list a:focus {
  color: rgba(255, 255, 255, 0.6)
}

.footer-navigation-list a:active {
  color: rgba(255, 255, 255, 0.3)
}

.user-navigation {
  color: rgba(0,0,0,1);

  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}


.user-navigation a:hover,
.user-navigation a:focus {
  color: rgba(0,0,0,0.6);
}

.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.user-navigation img {
  color: rgba(255, 198, 0, 1)
}

.goods-navigation {
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.goods-navigation li{
  list-style-type:none;
}

.goods-navigation a:hover,
.goods-navigation a:focus {
  color: rgba(0,0,0,0.6);
}

.goods-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.goods-navigation img {
  color: rgba(255, 198, 0, 1)
}

.main-footer-logo {
  flex: 8;
  order: -4;

  width: 200px;
}

.main-footer-logo a {
  color: rgba(255, 198, 0, 1);

  font-family: "gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.main-footer-logo a:hover, .main-footer-logo a:focus {
  color: rgba(255, 198, 0, 0.6)
}

.main-footer-logo a:active {
  color: rgba(255, 198, 0, 0.6)
}

.main-header-logo {
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.main-header-logo a:hover, .main-header-logo a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-logo a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation button:hover, .main-navigation button:focus {
  background-color: #000000;
}

.main-navigation button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

.popular-fitness-bracer a {
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}

.popular-slides-more a:hover,
.popular-slides-more a:focus {
  background-color: #f0c52e;
}

.popular-slides-more a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.popular-goods-list img:hover,
.popular-goods-list img:focus {
  background-color: #f0c52e;
}

.popular-goods-list img:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}
.services-list  a{
  color: #000000;

  font-family: "gilroy", Arial,sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}
.services-list a:hover, .services-list a:focus {
  background-color: #f0c52e;
}

.services-list a:active {
  color: #f7e184;
  background-color: #000000;
}
.services-link {
  padding-bottom: 50px;


}

.contacts-down-form input, .contacts-down-form input:hover {
  background-color: #f2f2f2;
}

.contacts-down-form input:focus {
  outline: 2px #f7e184;
  background-color: #ffffff;
}

.contacts-down-form input:invalid {
  background-color: #f6dada;

  opacicolor: rgba(0, 0, 0, 0.4);
}

.contacts-down-form input:invalid {
  color: rgba(0, 0, 0, 0.4);
  background-color: #f6dada;
}

.yellow img {
  color: #ffc600;
}

.footer-social-networks a {
  opacity: 0.3;
}

.footer-social-networks a:hover, .footer-social-networks a:focus {
  opacity: 0.6;
}

.footer-social-networks a:active {
  opacity: 0.1;
}

.services-delivery h2, .services-guarantee h2, .services-credit h2 {
  color: #000000;

  font-family: gilroy;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

/* Начинается разметка для второй страницы */

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.breadcrumbs {
  color: rgba (0, 0, 0, 0.3);

  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.breadcrumbs h2 {
  color: #000000;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.breadcrumbs a {
  color: #rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-filters form {
  background-color: #ebebeb;
}

.catalog-filters h3 {
  color: #000000;
  background-color: #dcdcdc;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

.sorting-control h3 {
  color: #000000;
  background-color: #ebebeb;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

.sorting-control {
  background-color: #ebebeb;
}

.catalog-filters h4 {
  color: #000000;
  background-color: #ebebeb;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}

.sorting-control a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-control a:hover, .sorting-control a:focus {
  color: rgba(0, 0, 0, 0.6)
}

.sorting-control a:active {
  color: rgba(0, 0, 0, 1)
}

.catalog-filters input {
  color: rgba(0, 0, 0, 0.2);

  font-family: "gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.filters-list input {
  color: rgba(0, 0, 0, 1);

  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
}

.sorting-navigation {
  background-color: #ebebeb;
}

.sorting-navigation a {
  color: rgba(0, 0, 0, 1);

  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

.back-forward content:hover, .back-forward content:focus {
  background-color: #000000;
}

.sorting-card {
  color: #464646;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

.sorting-card h4 {
  color: rgba(0, 0, 0, 1);

  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}

/*CSS для сетки */

.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1160px;
  height: 300px;
  padding-right: 60px;
  padding-left: 60px;

  outline: 1px dashed black;
  background-color: #f7e296;
}

.main-navigation content {}

.main-header-line-two {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-between;

  outline: 1px dashed black;
}

.user-navigation {
  display: flex;
  flex: auto;
  order: -2;

  width: 200px;

  outline: 1px dashed black;
}

.goods-navigation {
  display: flex;
  justify-content: space-between;
  order: -1;

  width: 220px;

  outline: 1px dashed black;
}

.main-navigation form {
  flex: auto;
  order: -3;

  width: 440px;

  outline: 1px dashed black;
}

.main-header-logo {
  order: -4;

  width: 1100px;

  outline: 1px dashed black;
}

.site-navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  order: 1;

  width: 1040px;

  outline: 1px dashed black;
}

.site-navigation-others {
  flex: 1;
}

.site-navigation-catalog {
  flex: 5;
}

.site-navigation-list {
  display: none;
}

.container {
  width: 1160px;
  margin-left: 140px;
}

.popular-slides {
  display: flex;

  width: 1160px;
  margin-bottom: 115px;

  outline: 1px dashed black;
}

.popular-slides-text {
  display: flex;
  flex-direction: column;

  width: 560px;

  outline: 1px dashed black;
}

.popular-slides-text h3 {
  width: 560px;
  padding-bottom: 40px;

  outline: 1px dashed lightgray;
}

.popular-slides-text p {
  width: 560px;

  outline: 1px dashed lightgray;

  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300px;
  line-height: 30px;
}

.popular-fitness-bracer {
  display: none;
}

.popular-quadraptore {
  display: none;
}

.popular-goods {
  width: 1160px;
  margin-bottom: 46px;

  outline: 1px dashed lightgray;
}
.popular-goods-list {
  display: flex;
  justify-content: space-around;

  width: 1160px;

  list-style-type: none;

  outline: 1px dashed black;
}

.popular-goods-list li {
  margin-right: 40px;
  margin-bottom: 185px;
  padding: 0;
}

.item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.item-wrapper:hover, .item-wrapper:focus {
  background-color: #f0c52e;
}

.item-wrapper img:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.popular-monopod {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  height: 486px;

  outline: 1px dashed lightgray;
}

.popular-monopod img {
  width: auto;
  padding-right: 126px;

  outline: 1px dashed lightgray;
}

.logotypes-list {
  display: flex;
  justify-content: space-around;

  margin-bottom: 92px;

  outline: 1px dashed black;
}
.logotypes-list li {
  list-style-type: none;
}

.services {
  display: flex;
  flex-wrap: nowrap;

  width: auto;

  outline: 2px dashed black;
  background-color: #e5e5e5;
}
.services-sliders {
  display: flex;
  justify-content: space-between;

  padding-bottom: 70px;

  outline: 4px dashed red;
}
.services-sliders img {

}
.services-delivery {
  display: flex;
  flex-direction: column;

  padding-right: 120px;
  padding-bottom: 70px;
  padding-left: 120px;

  outline: 3px dashed lightgray;

}
.services-delivery h2{
width: 217px;
padding-bottom: 40px;
}
.services-delivery p{
  width: 426px;
  padding-bottom: 70px;
}
.services-sliders ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 278px;

  list-style-type:none;

  outline: 3px dashed black;

}
.services-delivery-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-guarantee {
  display: none;
}

.services-credit {
  display: none;
}

.about-us-contacts {
  display: flex;
  justify-content: space-between;

  outline: 1px dashed black;
}

.about-us {
  display: flex;
  flex-direction: column;

  outline: 1px dashed lightgray;
}
.about-us a{
  align-content: flex-end;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}
.about-us h3 {
  margin-bottom: 60px;
}
.about-us-text {
  width: 462px;
  margin-bottom: 80px;

    outline: 2px dashed black;
}
.contacts {
  display: flex;
  flex-direction: column;

  outline: 2px dashed black;
}
.contacts h3{
  margin-bottom: 60px;
}
.contacts-content {
  width: 511px;
margin-bottom: 80px;
  outline: 2px dashed black;
}
.contacts  a {
  margin-bottom:0px;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}
.contacts img {
  width: 560px;
}

.contacts-down-form {
  display: none;
}

.main-footer {
  width: 100%;
  height: 320px;
  margin: 0px;
  margin-top: 90px;
  padding: 0px;

  outline: 1px dashed lightgray;
}

.main-footer-line1 {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;

  width: 1160px;
  margin-left: 140px;

  outline: 1px dashed black;
}

.main-footer-line2 {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 1160px;
  margin-left: 140px;

  outline: 1px dashed black;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;

  width: 440px;

  outline: 1px dashed lightgray;
}

.main-footer-line3 {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 1160px;
  margin-left: 140px;

  outline: 1px dashed black;
}

.footer-social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: -1;

  width: 160px;

  outline: 1px dashed lightgray;
}
.controls {
  display: flex;
  justify-content: space-between;
}

.controls a {
  padding-right: 180px;

  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}
