@font-face {
  font-family: "gilroy";
  font-weight: 300;
  src: url("/fonts/gilroylight-webfont.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("/fonts/gilroyextrabold-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "open_sans";
  src: url("/fonts/opensans-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "open_sans";
  src: url("/fonts/opensans-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open_sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: none;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
}

placeholder {
  color: #000000;
  opacity: 30%;
}

placeholder:hover {
  opacity: 60%;
}

.site-navigation {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.main-header a {
  text-decoration: none;
  color: #000000
}

.container a {
  text-decoration: none;
  color: #000000;
}

.main-footer {
  background-color: #464646;
}

.main-footer a {
  text-decoration: none;
  color: #ffffff;
}

.main-navigation a:hover, .main-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation li:hover, .main-navigation li:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation li:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-list {
  line-height: 36px;
  color: #000000;
}

.site-navigation-list a {
  line-height: 36px;
  color: #000000;
}

.site-navigation-list a:hover, .site-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
  color: #000000;
}

.main-navigation .user-navigation a, .main-navigation .goods-navigation a {
  font-family: "open_sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}

.main-navigation .user-navigation a:hover, .main-navigation .user-navigation a:focus, .main-navigation .goods-navigation a:hover, .main-navigation .goods-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation .user-navigation a:active, .main-navigation .goods-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-navigation {
  color: #000000;
}

.goods-navigation a {}

.popular-slides h3 {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.upper-line tr {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.bottom-line tr {
  font-family: "open_sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}

.popular-goods-list {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popular-goods-list img {
  background-color: #f7e296;
}

.services-list {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.about-us h3 {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.contacts-down h3 {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about-us-list li {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.footer-navigation-list {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation-list a {
  color: rgba(255, 255, 255, 1);
}

.footer-navigation-list a:hover, .footer-navigation-list a:focus {
  color: rgba(255, 255, 255, 0.6)
}

.footer-navigation-list a:active {
  color: rgba(255, 255, 255, 0.3)
}

.user-navigation {
  font-family: "open_sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.user-navigation a:hover, .user-navigation a:focus {
  color: rgba(255, 255, 255, 1);
}

.user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

}

.user-navigation img {
  color: rgba(255, 198, 0, 1)
}

.goods-navigation {
  font-family: "open_sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.goods-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.goods-navigation a:hover, .goods-navigation a:focus {
  color: rgba(255, 255, 255, 1);
}

.goods-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.goods-navigation img {
  color: rgba(255, 198, 0, 1)
}

.main-footer-logo a {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: rgba(255, 198, 0, 1);
}

.main-footer-logo a:hover, .main-footer-logo a:focus {
  color: rgba(255, 198, 0, 0.6)
}

.main-footer-logo a:active {
  color: rgba(255, 198, 0, 0.6)
}

.main-header {
  background-color: #f7e296;
}

.services {
  background-color: #e5e5e5;
}

.main-header-logo {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
}

.main-header-logo a:hover, .main-header-logo a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-logo a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation button:hover, .main-navigation button:focus {
  background-color: #000000;
}

.main-navigation button:active {
  background-color: #000000;
  color: rgba(0, 0, 0, 0.3);
}

.popular-fitness-bracer a {
  font-family: "gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popular-slides-more a:hover, .popular-slides-more a:focus {
  background-color: #f0c52e;
}

.popular-slides-more a:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.popular-goods-list img:hover, .popular-goods-list img:focus {
  background-color: #f0c52e;
}

.popular-goods-list img:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.services-list a:hover, .services-list a:focus {
  background-color: #f0c52e;
}

.services-list a:active {
  color: #f7e184;
  background-color: #000000;
}

.contacts-down-form input, .contacts-down-form input:hover {
  background-color: #f2f2f2;
}

.contacts-down-form input:focus {
  background-color: #ffffff;
  outline: 2px #f7e184;
}

.contacts-down-form input:invalid {
  background-color: #f6dada;
  opacicolor: rgba(0, 0, 0, 0.4);
}

.contacts-down-form input:invalid {
  background-color: #f6dada;
  color: rgba(0, 0, 0, 0.4);
}

.yellow img {
  color: #ffc600;
}

.footer-social-networks a {
  opacity: 0.3;
}

.footer-social-networks a:hover, .footer-social-networks a:focus {
  opacity: 0.6;
}

.footer-social-networks a:active {
  opacity: 0.1;
}
